<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>http://127.0.0.1:5501</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,DELETE,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,Authorization,Accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,Content-Length,Connection,endpoint</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Authorization,Access-Control-Allow-Origin,Access-Control-Allow-Credentials,Content-Type,Content-Length,Content-Encoding,Connection,endpoint</param-value>
        </init-param>
        <init-param>
            <param-name>cors.support.credentials</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.credentials</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.ucsc.enmoskill.listners.Connection_Cleanup</listener-class>
    </listener>

    <servlet>
        <servlet-name> user </servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.LoginController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>buyer_request</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.Buyer_request_Controller</servlet-class>

    </servlet>

    <servlet>
        <servlet-name>support</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.Support_Controller</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>package</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.PackageController</servlet-class>

    </servlet>




    <servlet>
        <servlet-name>proposal</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.ProposalController</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>file</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.FileHandlerControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.ValidateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>massage</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.MassageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chats</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.ChatsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryData</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.DesignCategoryController</servlet-class>
    </servlet>













    <servlet>
        <servlet-name>package_pricing</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.PackagePricingController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>package_list</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.PackageListController</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>PackageViewClient</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.PackageViewController</servlet-class>
    </servlet>




    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.ProfileController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>skill</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.skillController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>supportAgent</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.SupportAgentController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>pricepackage</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.PricingDataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTP</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.OTPController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BillingInformation</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.BillingInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderTprice</servlet-name>
        <servlet-class>org.ucsc.enmoskill.controller.OrderPriceController</servlet-class>
    </servlet>







    <servlet-mapping>
        <servlet-name>buyer_request</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>support</servlet-name>
        <url-pattern>/support</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>package</servlet-name>
        <url-pattern>/package/*</url-pattern>
    </servlet-mapping>




    <servlet-mapping>
        <servlet-name>proposal</servlet-name>
        <url-pattern>/proposal</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>file</servlet-name>
        <url-pattern>/file</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>massage</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chats</servlet-name>
        <url-pattern>/chats</url-pattern>
    </servlet-mapping>






    <servlet-mapping>
        <servlet-name>package_pricing</servlet-name>
        <url-pattern>/packagepricing</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>package_list</servlet-name>
        <url-pattern>/packagelist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>skill</servlet-name>
        <url-pattern>/skill</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>supportAgent</servlet-name>
        <url-pattern>/supportAgent</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PackageViewClient</servlet-name>
        <url-pattern>/packageview</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryData</servlet-name>
        <url-pattern>/categorydata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pricepackage</servlet-name>
        <url-pattern>/pricepackage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OTP</servlet-name>
        <url-pattern>/otp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BillingInformation</servlet-name>
        <url-pattern>/billingInformation</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>orderTprice</servlet-name>
        <url-pattern>/orderTprice</url-pattern>
    </servlet-mapping>


</web-app>